
/* *{
  border: 2px solid red;
} */


body {
  background: #F5F8FF;
}


.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #F5F8FF;
}


.dashboard-topbar {
  /* width: 950px; */
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  padding: 12px ;
  margin: 4px;
  gap: 190px;
}

.welcome-text h2 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Inter', sans-serif;
font-weight: 500;
font-size: 36px;
line-height: 34px;
letter-spacing: 0%;

}

.wave-icon {
  width: 42px;
  height: 41px;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatars {
  display: flex;
  align-items: center;
  gap: 4px;
}

.avatars img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 4px;
}

.invite-btn {
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
  gap: 6px;
  background: #F5F8FF;
  color: #FF6767;
  font-size: 14px;
  font-weight: 500;
  border: 2px solid #FF6767;
  border-radius: 8px;
  padding: 12px 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.invite-btn:hover {
  background-color: #FF6767;
  color: white;
}


.invite-btn img {
  width: 19px;
  height: 11px;
}










.dashboard-main-content {
  display: flex;
  gap: 16px; 
  margin-top: 31px;
  height: auto;
  width: 958px;
  margin: 22px;
  border: 1px solid #A1A3ABA1;
}


/* Left Todo Card */
.todo-card {
  width: 466px;
  
  /* background-color: #FF6767; */
  border-radius: 12px;
  padding: 16px;
  height: auto;
  margin-top: 22px;
  margin-bottom: 22px;
  margin-left: 22px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.09);
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 31px;
}

.todo-head {
   font-family: 'Inter', sans-serif;
font-weight: 400;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;
color: #FF6767;

}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-right {
  cursor: pointer;
}
.gray-text {
  color: #999;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;

}

/* Right Column */
.right-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 423px;
  margin: 22px;
}

/* Task Status */
.status-card {
  width: 100%;
  /* height: 263px; */
  background: #F5F8FF;
  border-radius: 12px;
  padding: 22px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.09);
}

.status-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 18px;
  font-family: 'Inter', sans-serif;
font-weight: 500;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;

}

.status-title {
  color: #FF6767;
  font-weight: 600;
}

.status-circles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-circles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

/* Wrapper */
.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

/* SVG Chart */
/* .circular-chart {
  width: 100px;
  height: 100px;
  transform: rotate(-90deg); 
}

.circle-bg {
  fill: none;
  stroke: #D9D9D9; 
  stroke-width: 3.8;
}

.circle-progress {
  fill: none;
  stroke: #D9D9D9; 
  stroke-width: 3.8;
  stroke-linecap: round;
  transition: stroke-dasharray 0.6s ease;
}

.percentage {
  font-size: 10px;
  text-anchor: middle;
  fill: #000000;
  transform: rotate(90deg); 
} */

/* Label below */

.circle-label {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 14px;
  font-size: 12px;

  font-family: 'Inter', sans-serif;
font-weight: 500;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;

}


/* Completed Tasks */
.completed-card {
  width: 100%;
  background: #F5F8FF;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.09);
}

.completed-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.completed-title {
  color: #F24E1E;
  font-family: 'Inter', sans-serif;
font-weight: 500;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;

}


.task-list {
  max-height: 600px;   
  overflow-y: auto;    
  padding-right: 6px; 
}

/* Optional scrollbar styling */
.task-list::-webkit-scrollbar {
  width: 6px;
}
.task-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
.task-list::-webkit-scrollbar-track {
  background: transparent;
}
